<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="jio" class="com.balu.Jio" >
		<property name="number" value="5"></property>
	</bean>
	
	<bean id="mobile" class="com.balu.Mobile" >
		<property name="jio" ref="jio"></property>
	</bean>
	<bean id="airtel" class="com.balu.Airtel"></bean>

</beans>
